@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* dark-theme */
    /* dark-theme */
  --color-layout-dark: #0D0D0D;
  --color-overall_bg-dark: #1B1B1B;
  --color-icon-dark-blue: #002350;
  --color-icon-dark-green: #005E00;
  --color-icon-dark-red: #4C0000;
  --color-border-dark-grey: #353535;
  --color-icontext-dark-green: #BAFFBA;




  --color-light-blue: #e3ecff;
  --color-darkest-blue: #314165;
  --color-border-sidebar: #d0d6ff;
  --color-select-subbar: #E2E2FF;
  --color-greyish: #616161;
  --color-input-bordergrey: #D0D6FF;

  --font-roboto-flex: "Roboto Flex", sans-serif;
}
